.list-container {
    background-color: rgba(245, 245, 245, .7);
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
}

.list-container > h3 {
    text-align: left;
}

.list-container > h3 {
    border-bottom: 2px solid rgb(157, 152, 152);
    margin-right: 50px;
    margin-left: 50px;
}